@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    background: #1D3B1B;
}

h2 {
    font-size: 400%;
    font-family:fantasy;
    text-align: center;
}

table {
     border-collapse: collapse;
     position: absolute;
     margin: 2% 10% 10% 37%;
 }
 
 td {
     border: 2px solid #B268B6;
     height: 100px;
     width: 100px;
     text-align: center;
     vertical-align: middle;
     font-family: 'Poppins', sans-serif;
     font-size: 65px;
     cursor: pointer;
 }

 table tr:first-child td {
     border-top: 0;
 }

 table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

button {
    margin: 34% 10% 10% 45.5%;
    background-color: #1D3B1B; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255,255,255);
    color: #1D3B1B;
    border: 2px solid #234221;
  }

.endgame {
    display: none;
    
    background-color: #1D3B1B;
    margin: 8% 20% 20% 39%;
    position:fixed;
    text-align: center;
    border-radius: 5px;
    color: rgb(255,255,255);
    font-size: 2em;
    bottom: 0;
  }

  .text {
      margin-top: 20%;
      font-size: 100%;
      font-weight: 600;
  }


  .start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #030403;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #B268B6;
    cursor: pointer;
}